In [48]:
import pandas as pd
import snowflake.connector

snowflake_user = "xiangping@getflex.com"

In [49]:
def get_snowflake_query_result(query_file_path: str,
                               snowflake_user: str) -> pd.DataFrame:
    with open(query_file_path, 'r') as file:
        query_commands = file.read()
    # Create Snowflake connection
    cnx = snowflake.connector.connect(
        user=snowflake_user,
        account="jma23782.us-east-1",
        authenticator="externalbrowser"
    )
    # Create cursor and execute query
    cursor = cnx.cursor()
    cursor.execute(query_commands)
    rows = cursor.fetchall()
    df = pd.DataFrame(rows, columns=[desc[0] for desc in cursor.description])
    cursor.close()
    cnx.close()
    return df

In [50]:
df_sequence_20230101 = get_snowflake_query_result('sql/sequence_query.sql',
                                                  snowflake_user)

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Going to open: https://accounts.google.com/o/saml2/idp?idpid=C03xsf2wk&SAMLRequest=lZJfb9owFMW%2FSuQ9J84fWopFQBm0g46OCNJO25uXmGDh2Jmv09B9%2BpmkkbqHVtqDJcs%2Bx%2Fd3fe50fq6E88w0cCVjFHg%2BcpjMVcFlGaPH7M69QQ4YKgsqlGQxemGA5rMp0ErUJGnMUe7Y74aBcexDEkh3EaNGS6IocCCSVgyIyck%2BediQ0PNJrZVRuRLojeVjBwVg2ljCwVIAt3hHY2qCcdu2Xht5Spc49H0f%2BxNsVRfJp0F%2Ftj29ow%2BwP7rorcLK01e2z1z2X%2FAR1q9eBGSVZambbvcZcpIBdaEkNBXTe6afec4ed5seACzB%2FUMSRuOb0GvAZRSMG3ggVXsQ9MRyVdWNsc96docPrMBCldx2vl7GqD7xYvRUp3TDI57Alwmt%2FmTb%2B%2B8T%2BmNbnm8n7e5qlWy%2BruQtrMQxz5HzNEQbXqJdAzRsLS%2BBGnvkh5Eb%2BG4wzsKIXI1IMPaug%2BufyFnaQLmkpnMO1DTPVSMNeKVSpWAdn8KX9ELMi3puFy%2FihR%2Bd4RC2J9RPCelq6tl%2F9z7Fb%2B2vE%2FfNhrBepkrw%2FMW5U7qi5v2MAi%2FoTnjhHjopYRXlIikKzQBsVkKodqEZNXawjW4YwrO%2B6r%2BjPfsL&RelayState=54209 to authenticate...

In [52]:
df_sequence_20230101.shape

(80189, 83)

In [54]:
df_sequence_20230101.to_csv('data/sequence_20230101.csv', index=False, sep='|')

In [57]:
df_sequence_20230101[df_sequence_20230101['SEQUENCE_ID'] == '76230405']

,OCCURRED_DATE,SEQUENCE_ID,SEQUENCE_NAME,STEP_ID,TEMPLATE_ID,SEQUENCE_ENROLLMENT_ID,SEQUENCE_STEP_EXCUTION_ID,CONTACT_ID,CONTACT_FIRST_NAME,CONTACT_LAST_NAME,...,COMPANY_PM_SOFTWARE,COMPANY_PROTFOLIO_SUBTYPE,COMPANY_PROTFOLIO_TYPE,COMPANY_RENT_PORTAL,COMPANY_SEGMENT,COMPANY_STATE,COMPANY_TIMEZONE,COMPANY_UNITS,COMPANY_WEBSITE,COMPANY_ZIPCODE
29,20230415,76230405,JE Jan 23,3,37950803,6659388995,76230405-1551671967-6659388995,57974101,GH Team,None,...,Rent Manager,None,Multi Family,RentManager,SMB,MI,America/Detroit,3000,generalhomecorp.com,48099
31,20230329,76230405,JE Jan 23,0,37779790,6659388992,76230405-1551671967-6659388992,57974101,GH Team,None,...,Rent Manager,None,Multi Family,RentManager,SMB,MI,America/Detroit,3000,generalhomecorp.com,48099
32,20230410,76230405,JE Jan 23,2,37950732,6659388994,76230405-1551671967-6659388994,57974101,GH Team,None,...,Rent Manager,None,Multi Family,RentManager,SMB,MI,America/Detroit,3000,generalhomecorp.com,48099
35,20230404,76230405,JE Jan 23,1,37950617,6659388993,76230405-1551671967-6659388993,57974101,GH Team,None,...,Rent Manager,None,Multi Family,RentManager,SMB,MI,America/Detroit,3000,generalhomecorp.com,48099
37,20230420,76230405,JE Jan 23,4,37951256,6659388996,76230405-1551671967-6659388996,57974101,GH Team,None,...,Rent Manager,None,Multi Family,RentManager,SMB,MI,America/Detroit,3000,generalhomecorp.com,48099
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79725,20230125,76230405,JE Jan 23,0,37779790,6165108854,76230405-1445618742-6165108854,49213,Sondra,Atou,...,Yardi,None,Multi Family,RentCafe,Deep SMB,AZ,America/Edmonton,752,http://www.petwin.com,85251
79726,20230125,76230405,JE Jan 23,0,37779790,6165108872,76230405-1445618739-6165108872,58681451,Echo,Thompson,...,Yardi,None,Multi Family,RentCafe,Deep SMB,AZ,America/Edmonton,752,http://www.petwin.com,85251
79727,20230131,76230405,JE Jan 23,1,37950617,6165108885,76230405-1445618741-6165108885,36060,Ted,Kennedy,...,Yardi,None,Multi Family,RentCafe,Deep SMB,AZ,America/Edmonton,752,http://www.petwin.com,85251
79728,20230131,76230405,JE Jan 23,1,37950617,6165108849,76230405-1445618736-6165108849,58681401,Amanda,Novotny,...,Yardi,None,Multi Family,RentCafe,Deep SMB,AZ,America/Edmonton,752,http://www.petwin.com,85251
79729,20230216,76230405,JE Jan 23,4,37951256,6165108870,76230405-1445618738-6165108870,33625,Cindy,Coleman,...,Yardi,None,Multi Family,RentCafe,Deep SMB,AZ,America/Edmonton,752,http://www.petwin.com,85251

In [58]:
df_sequence_20230101.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80189 entries, 0 to 80188
Data columns (total 83 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   OCCURRED_DATE                                            80189 non-null  int64
 1   SEQUENCE_ID                                              80189 non-null  object
 2   SEQUENCE_NAME                                            80189 non-null  object
 3   STEP_ID                                                  80189 non-null  object
 4   TEMPLATE_ID                                              80189 non-null  object
 5   SEQUENCE_ENROLLMENT_ID                                   80189 non-null  object
 6   SEQUENCE_STEP_EXCUTION_ID                                80189 non-null  object
 7   CONTACT_ID                                               80189 non-null  int64
 8   CONTACT_FIRST_NAME                                       80092 non-null  object
 9   CONTACT_LAST_NAME                                        79859 non-null  object
 10  CONTACT_COMPANY_ID                                       80189 non-null  object
 11  CONTACT_COMPANY_NAME                                     78379 non-null  object
 12  REPLY_COUNT                                              1266 non-null   object
 13  OPEN_COUNT                                               15546 non-null  object
 14  MEETING_BOOKED_COUNT                                     20 non-null     object
 15  CONTACT_UPDATE_DATE                                      80189 non-null  datetime64[ns]
 16  CONTACT_ADDRESS                                          45738 non-null  object
 17  CONTACT_CITY                                             58525 non-null  object
 18  CONTACT_COMPANY                                          78379 non-null  object
 19  CONTACT_COUNTRY                                          47451 non-null  object
 20  CONTACT_CREATE_DATE                                      80189 non-null  datetime64[ns]
 21  CONTACT_CREATE_TIMESTAMP                                 80189 non-null  object
 22  CONTACT_EAMIL                                            80180 non-null  object
 23  CONTACT_FIRST_DEAL_CREATE_DATE                           3846 non-null   datetime64[ns]
 24  CONTACT_ADDITIONAL_EMAIL                                 1695 non-null   object
 25  CONTACT_EMAIL_DOMAIN                                     80180 non-null  object
 26  CONTACT_IP_TIMEZONE                                      2631 non-null   object
 27  CONTACT_IS_UNWORKED                                      80189 non-null  object
 28  CONTACT_LATEST_SEQUENCE_ENDED_DATE                       79587 non-null  datetime64[ns]
 29  CONTACT_LATEST_SEQUENCE_ENDED_TIMESTAMP                  79587 non-null  object
 30  CONTACT_LATEST_SEQUENCE_ENROLLED_DATE                    80189 non-null  datetime64[ns]
 31  CONTACT_LATEST_SEQUENCE_ENTROLLED_TIMESTAMP              80189 non-null  object
 32  CONTACT_LEAD_STATUS                                      35340 non-null  object
 33  CONTACT_SEQUENCES_ENROLLED_COUNT                         80189 non-null  object
 34  CONTACT_SEQUENCES_IS_ENROLLED                            80189 non-null  object
 35  CONTACT_TIME_BETWEEN_CONTACT_CREATION_AND_DEAL_CREATION  3846 non-null   object
 36  CONTACT_HUBSPOT_OWNER_ID                                 80189 non-null  object
 37  CONTACT_HUBSPOT_TEAM_ID                                  80189 non-null  object
 38  CONTACT_JOB_TITLE                                        76483 non-null  object
 39  CONTACT_LAST_MODIFIED_DATE                               80189 non-null  datetime64[ns]
 40  CONTACT_LAST_MODIFED_TIMESTAMP                           80189 non-null  object
 41  CONTACT_LEAD_SOURCE                                      43159 non-null  object
 42  CONTACT_LINKEDIN                                         32185 non-null  object
 43  CONTACT_MOBILE_PHONE                                     31457 non-null  object
 44  CONTACT_NUM_ASSOCIATED_DEALS                             3846 non-null   object
 45  CONTACT_NUM_CONTACTED_NOTES                              80189 non-null  object
 46  CONTACT_PHONE                                            66853 non-null  object
 47  CONTACT_STATE                                            57878 non-null  object
 48  CONTACT_UNITS                                            54630 non-null  object
 49  CONTACT_WEBSITE                                          66151 non-null  object
 50  CONTACT_ZIPCODE                                          54331 non-null  object
 51  COMPANY_OBJECT_TYPE_ID                                   80189 non-null  object
 52  COMPANY_UPDATE_DATE                                      80189 non-null  datetime64[ns]
 53  COMPANY_ADDRESS                                          77482 non-null  object
 54  COMPANY_ADDRESS2                                         9862 non-null   object
 55  COMPANY_ANNUAL_REVENUE                                   69576 non-null  object
 56  COMPANY_CITY                                             78867 non-null  object
 57  COMPANY_COUNTRY                                          76022 non-null  object
 58  COMPANY_CREATE_DATE                                      80189 non-null  datetime64[ns]
 59  COMPANY_CREATE_TIMESTAMP                                 80189 non-null  object
 60  COMPANY_DESCRIPTION                                      74161 non-null  object
 61  COMPANY_DOMAIN                                           80185 non-null  object
 62  COMPANY_FACEBOOK_PAGE                                    32286 non-null  object
 63  COMPANY_FIRST_CONTACT_DATE                               80189 non-null  datetime64[ns]
 64  COMPANY_FOUNDED_YEAR                                     64419 non-null  object
 65  COMPANY_LEAD_STATUS                                      70606 non-null  object
 66  COMPANY_LINKEDIN_PAGE                                    67362 non-null  object
 67  COMPANY_LINKEDIN_BIO                                     70284 non-null  object
 68  COMPANY_NAME                                             80189 non-null  object
 69  COMPANY_NUM_ASSOCIATED_CONTACTS                          80189 non-null  object
 70  COMPANY_NUM_ASSOCIATED_DEALS                             50748 non-null  object
 71  COMPANY_NUM_PROPERTIES                                   61352 non-null  object
 72  COMPANY_PHONE                                            76463 non-null  object
 73  COMPANY_PM_SOFTWARE                                      65168 non-null  object
 74  COMPANY_PROTFOLIO_SUBTYPE                                46902 non-null  object
 75  COMPANY_PROTFOLIO_TYPE                                   76280 non-null  object
 76  COMPANY_RENT_PORTAL                                      69487 non-null  object
 77  COMPANY_SEGMENT                                          80189 non-null  object
 78  COMPANY_STATE                                            79187 non-null  object
 79  COMPANY_TIMEZONE                                         74753 non-null  object
 80  COMPANY_UNITS                                            80189 non-null  object
 81  COMPANY_WEBSITE                                          80185 non-null  object
 82  COMPANY_ZIPCODE                                          79003 non-null  object
dtypes: datetime64[ns](9), int64(2), object(72)
memory usage: 50.8+ MB

In [73]:
# test if the contact and company is 1 to 1 
seq_contact_company_df = df_sequence_20230101.groupby(by=['SEQUENCE_ID', 'CONTACT_ID'])[['CONTACT_COMPANY_NAME']].nunique()

In [74]:
# conclusion is Yes 
seq_contact_company_df[seq_contact_company_df['CONTACT_COMPANY_NAME'] > 1]

Empty DataFrame
Columns: [CONTACT_COMPANY_NAME]
Index: []

In [72]:
# summary the sequence performance 
# for a sequence to a specific contact and company, the performance is the sum of all the performance of all the steps 
# use the yes/no indicator for if scheduled meeting, if response 
seq_contact_company_df = df_sequence_20230101.groupby(by=['SEQUENCE_ID', 'CONTACT_ID', 'CONTACT_COMPANY_NAME'])[['CONTACT_COMPANY_NAME']]

AttributeError: 'Series' object has no attribute 'columns'

In [81]:
dfx = pd.read_csv('/Users/xiangpingbu/Documents/tmp/2023-10-18_customer_1697616350829.csv', sep='|')

In [82]:
dfx

,customer_id,customer_type,created_at,first_name,preferred_first_name,middle_name,last_name,date_of_birth,tax_id_type,tax_id_value,...,mailing_address_state,mailing_address_country,credit_pull_consented,credit_pulled_at,credit_score,credit_report_source,credit_report_id,credit_bureau_data,generated_at,effective_at
0,VXUxXVNCxOMOA2za8ViXwYVNzN03,individual,2023-10-11T11:02:50-05:00,Keith,NaN,NaN,Wilkins,NaN,ssn,123-45-6789,...,NaN,NaN,True,2023-10-11T11:03:02-05:00,700.0,transunion,NaN,NaN,2023-10-18T03:05:48-05:00,2023-10-11T23:59:59-05:00
1,IGUdpzPW0RSh6rxZcihnO77VNSs1,individual,2023-10-11T11:07:05-05:00,Keith,NaN,NaN,Wilkins,NaN,ssn,123-45-6789,...,NaN,NaN,True,2023-10-11T11:07:11-05:00,700.0,transunion,NaN,NaN,2023-10-18T03:05:48-05:00,2023-10-11T23:59:59-05:00
2,9Ux0tDF9qffpzBOhVixMH35fDKQ2,individual,2023-10-11T11:07:26-05:00,Keith,NaN,NaN,Wilkins,NaN,ssn,123-45-6789,...,NaN,NaN,True,2023-10-11T11:07:30-05:00,NaN,transunion,NaN,NaN,2023-10-18T03:05:48-05:00,2023-10-11T23:59:59-05:00
3,vHKwrp7RpoZ8Zywwb6rTcLIsUEL2,individual,2023-10-11T11:07:43-05:00,Keith,NaN,NaN,Wilkins,NaN,ssn,123-45-6789,...,NaN,NaN,True,2023-10-11T11:07:46-05:00,700.0,transunion,NaN,NaN,2023-10-18T03:05:48-05:00,2023-10-11T23:59:59-05:00
4,DeXNuL8in2YGN61aVzGTOLOfn9r1,individual,2023-10-11T11:07:59-05:00,Keith,NaN,NaN,Wilkins,NaN,ssn,123-45-6789,...,NaN,NaN,True,2023-10-11T11:08:03-05:00,700.0,transunion,NaN,NaN,2023-10-18T03:05:48-05:00,2023-10-11T23:59:59-05:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,WmgH9DTrHhOqsUFRcclYcDQ3cgg1,individual,2023-10-11T13:19:57-05:00,Keith,NaN,NaN,Wilkins,NaN,ssn,123-45-6789,...,NaN,NaN,True,2023-10-11T13:20:01-05:00,NaN,transunion,NaN,NaN,2023-10-18T03:05:48-05:00,2023-10-11T23:59:59-05:00
148,4tXFpg5FfBdIALX8xzl6yCM4JOv1,individual,2023-10-11T13:20:18-05:00,Keith,NaN,NaN,Wilkins,NaN,ssn,123-45-6789,...,NaN,NaN,True,2023-10-11T13:20:21-05:00,NaN,transunion,NaN,NaN,2023-10-18T03:05:48-05:00,2023-10-11T23:59:59-05:00
149,rmLK475JTjRu4nSSOJpU8vO63Qm1,individual,2023-10-11T13:20:37-05:00,Keith,NaN,NaN,Wilkins,NaN,ssn,123-45-6789,...,NaN,NaN,True,2023-10-11T13:20:40-05:00,700.0,transunion,NaN,NaN,2023-10-18T03:05:48-05:00,2023-10-11T23:59:59-05:00
150,JRSGZrLr02Yahfnc3U0bCazs8m72,individual,2023-10-11T13:21:38-05:00,Keith,NaN,NaN,Wilkins,NaN,ssn,123-45-6789,...,NaN,NaN,True,2023-10-11T13:21:42-05:00,700.0,transunion,NaN,NaN,2023-10-18T03:05:48-05:00,2023-10-11T23:59:59-05:00
151,TeCu3H55FdMslAqqAR1790C4hOq1,individual,2023-10-11T13:38:43-05:00,Keith,NaN,NaN,Wilkins,NaN,ssn,123-45-6789,...,NaN,NaN,True,2023-10-11T13:38:48-05:00,NaN,transunion,NaN,NaN,2023-10-18T03:05:48-05:00,2023-10-11T23:59:59-05:00

In [95]:
dfy = pd.read_csv('/Users/xiangpingbu/Documents/tmp/2023-10-18_customer_1697644753781.csv', sep='|')

In [96]:
dfy

,customer_id,customer_type,created_at,first_name,preferred_first_name,middle_name,last_name,date_of_birth,tax_id_type,tax_id_value,...,mailing_address_state,mailing_address_country,credit_pull_consented,credit_pulled_at,credit_score,credit_report_source,credit_report_id,credit_bureau_data,generated_at,effective_at
0,VXUxXVNCxOMOA2za8ViXwYVNzN03,individual,2023-10-11T11:02:50-05:00,Keith,NaN,NaN,Wilkins,NaN,ssn,123-45-6789,...,NaN,NaN,True,2023-10-11T11:03:02-05:00,700.0,transunion,NaN,NaN,2023-10-18T10:59:11-05:00,2023-10-11T23:59:59-05:00
1,IGUdpzPW0RSh6rxZcihnO77VNSs1,individual,2023-10-11T11:07:05-05:00,Keith,NaN,NaN,Wilkins,NaN,ssn,123-45-6789,...,NaN,NaN,True,2023-10-11T11:07:11-05:00,700.0,transunion,NaN,NaN,2023-10-18T10:59:11-05:00,2023-10-11T23:59:59-05:00
2,9Ux0tDF9qffpzBOhVixMH35fDKQ2,individual,2023-10-11T11:07:26-05:00,Keith,NaN,NaN,Wilkins,NaN,ssn,123-45-6789,...,NaN,NaN,True,2023-10-11T11:07:30-05:00,NaN,transunion,NaN,NaN,2023-10-18T10:59:11-05:00,2023-10-11T23:59:59-05:00
3,vHKwrp7RpoZ8Zywwb6rTcLIsUEL2,individual,2023-10-11T11:07:43-05:00,Keith,NaN,NaN,Wilkins,NaN,ssn,123-45-6789,...,NaN,NaN,True,2023-10-11T11:07:46-05:00,700.0,transunion,NaN,NaN,2023-10-18T10:59:11-05:00,2023-10-11T23:59:59-05:00
4,DeXNuL8in2YGN61aVzGTOLOfn9r1,individual,2023-10-11T11:07:59-05:00,Keith,NaN,NaN,Wilkins,NaN,ssn,123-45-6789,...,NaN,NaN,True,2023-10-11T11:08:03-05:00,700.0,transunion,NaN,NaN,2023-10-18T10:59:11-05:00,2023-10-11T23:59:59-05:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,WmgH9DTrHhOqsUFRcclYcDQ3cgg1,individual,2023-10-11T13:19:57-05:00,Keith,NaN,NaN,Wilkins,NaN,ssn,123-45-6789,...,NaN,NaN,True,2023-10-11T13:20:01-05:00,NaN,transunion,NaN,NaN,2023-10-18T10:59:11-05:00,2023-10-11T23:59:59-05:00
148,4tXFpg5FfBdIALX8xzl6yCM4JOv1,individual,2023-10-11T13:20:18-05:00,Keith,NaN,NaN,Wilkins,NaN,ssn,123-45-6789,...,NaN,NaN,True,2023-10-11T13:20:21-05:00,NaN,transunion,NaN,NaN,2023-10-18T10:59:11-05:00,2023-10-11T23:59:59-05:00
149,rmLK475JTjRu4nSSOJpU8vO63Qm1,individual,2023-10-11T13:20:37-05:00,Keith,NaN,NaN,Wilkins,NaN,ssn,123-45-6789,...,NaN,NaN,True,2023-10-11T13:20:40-05:00,700.0,transunion,NaN,NaN,2023-10-18T10:59:11-05:00,2023-10-11T23:59:59-05:00
150,JRSGZrLr02Yahfnc3U0bCazs8m72,individual,2023-10-11T13:21:38-05:00,Keith,NaN,NaN,Wilkins,NaN,ssn,123-45-6789,...,NaN,NaN,True,2023-10-11T13:21:42-05:00,700.0,transunion,NaN,NaN,2023-10-18T10:59:11-05:00,2023-10-11T23:59:59-05:00
151,TeCu3H55FdMslAqqAR1790C4hOq1,individual,2023-10-11T13:38:43-05:00,Keith,NaN,NaN,Wilkins,NaN,ssn,123-45-6789,...,NaN,NaN,True,2023-10-11T13:38:48-05:00,NaN,transunion,NaN,NaN,2023-10-18T10:59:11-05:00,2023-10-11T23:59:59-05:00

In [91]:
dfy['a'] = dfy['credit_pulled_at'].apply(lambda x: 0 if x.startswith('2023-10-17') else 1)

In [94]:
dfy[dfy['a'] == 0]

,customer_id,customer_type,created_at,first_name,preferred_first_name,middle_name,last_name,date_of_birth,tax_id_type,tax_id_value,...,mailing_address_country,credit_pull_consented,credit_pulled_at,credit_score,credit_report_source,credit_report_id,credit_bureau_data,generated_at,effective_at,a
0,dmgglIBaRTeE9kNLgZCrmnKXhJK2,individual,2023-10-17T15:21:41-05:00,Kaytlyn,NaN,NaN,Collier,NaN,ssn,645-56-2801,...,NaN,True,2023-10-17T15:22:47-05:00,672.0,transunion,NaN,NaN,2023-10-18T03:51:46-05:00,2023-10-17T23:59:59-05:00,0
1,mHMQZVmHNbbuIUQoDMoNL1QLHTf1,individual,2023-10-17T22:34:49-05:00,Sandra,NaN,NaN,Flerimond,NaN,ssn,766-66-8996,...,NaN,True,2023-10-17T22:36:34-05:00,NaN,transunion,NaN,NaN,2023-10-18T03:51:46-05:00,2023-10-17T23:59:59-05:00,0
2,1IMOP5Xy3KOYLZ3MpBzleoIUvWS2,individual,2022-11-25T09:51:43-05:00,Nicole,NaN,NaN,Saunders,NaN,ssn,143-30-6772,...,NaN,True,2023-10-17T22:03:05-05:00,659.0,transunion,NaN,NaN,2023-10-18T03:51:46-05:00,2023-10-17T23:59:59-05:00,0
3,AGdQPm5ncNNR2f99tMyVo23s0Td2,individual,2023-01-26T02:44:56-05:00,Zach,NaN,NaN,Jones,NaN,ssn,639-96-0590,...,NaN,True,2023-10-17T10:11:01-05:00,567.0,transunion,NaN,NaN,2023-10-18T03:51:46-05:00,2023-10-17T23:59:59-05:00,0
4,uydClvXoEbM4toSHVgm8ohL21M22,individual,2023-10-17T15:00:40-05:00,Yuriko,NaN,NaN,Sprott,NaN,ssn,125-55-8147,...,NaN,True,2023-10-17T15:07:50-05:00,NaN,transunion,NaN,NaN,2023-10-18T03:51:46-05:00,2023-10-17T23:59:59-05:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,Tw01vxPtlrfIS1uWHmzPknfrqEx2,individual,2023-10-17T20:48:45-05:00,Cindy,NaN,NaN,Henderson,NaN,ssn,435-55-1824,...,NaN,True,2023-10-17T20:49:28-05:00,562.0,transunion,NaN,NaN,2023-10-18T03:51:46-05:00,2023-10-17T23:59:59-05:00,0
430,yB1buSxhHeYl6WGY6eDmQLi0nS53,individual,2023-10-17T16:42:28-05:00,Jada,NaN,NaN,Norton,NaN,ssn,493-31-9330,...,NaN,True,2023-10-17T17:17:12-05:00,NaN,transunion,NaN,NaN,2023-10-18T03:51:46-05:00,2023-10-17T23:59:59-05:00,0
431,UtDZcVZjGVS1tRZdLq8QM307GIp1,individual,2023-10-17T05:48:58-05:00,dameera,NaN,NaN,van,NaN,ssn,355-59-8018,...,NaN,True,2023-10-17T05:57:01-05:00,574.0,transunion,NaN,NaN,2023-10-18T03:51:46-05:00,2023-10-17T23:59:59-05:00,0
432,aOoVwcf2AATTqRoFjUXg2BMgzMi2,individual,2023-10-17T09:27:12-05:00,Ingrid,NaN,NaN,Cruz,NaN,ssn,583-33-3694,...,NaN,True,2023-10-17T09:38:31-05:00,568.0,transunion,NaN,NaN,2023-10-18T03:51:46-05:00,2023-10-17T23:59:59-05:00,0
433,KaIgdf4fHtUiilfc1ZLU7swGdvc2,individual,2023-10-17T14:59:35-05:00,Maximilian,NaN,NaN,Garza,NaN,ssn,463-36-5015,...,NaN,True,2023-10-17T15:01:19-05:00,NaN,transunion,NaN,NaN,2023-10-18T03:51:46-05:00,2023-10-17T23:59:59-05:00,0